/*
ThemeName: Primeiro tema
Theme URI: http://localhost/wordpresstheme/wordpress/
Author: Lucas Ertel Soares
Author URI:https://github.com/ertelsoares
Description: This is only a description in English
Version: 1.0
Tags:two-columns,left-sidebar,custom-header, custom-menu, 
custom-logo, blog
Text Domain : primeirothema
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/